---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Badge from '../components/Badge.astro';
import LinkedInIcon from "../components/icons/LinkedIn.astro";
import SocialPill from '../components/SocialPill.astro';
import GitHubIcon from "../components/icons/GitHub.astro";
import MailIcon from '../components/icons/Mail.astro';
import Experience from '../components/Experience.astro';
import SectionContainer from '../components/SectionContainer.astro';
import BriefcaseIcon from '../components/icons/Briefcase.astro';
---

<Layout 
	title="Jaime's Portfolio - Developer and Programmer with 3 years of experience."
	description="Jaime would be an excellent addition to projects aiming to improve system efficiency, develop new features, or undertake creative initiatives in the field of software development."
>
	<main class="px-4">
		<SectionContainer class="py-44 pb-24">
			<img 
			class="rounded-full size-12 mb-4" 
			src="https://imgs.search.brave.com/GcpW3XbKcEhf16i2iW-WD-NKRsshNtcbhqAnrjl6B7Y/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9jZG4u/cGl4YWJheS5jb20v/cGhvdG8vMjAxNC8x/MS8yOS8xOS8zMy9i/YWxkLWVhZ2xlLTU1/MDgwNF82NDAuanBn" 
			alt="jaime photo" 
			/>
			<h1 class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10">
				Hey, I'm Jaime<a 
					href="https://www.linkedin.com/in/jaime-h-9b561a2a8" 
					target="_blank"
					rel="noopeneer"
					class="flex justify-center items-center"
				>
					<Badge>Available to work</Badge>
				</a>
			</h1>

			<h2 class="text-xl lgtext-2xl text-wrap max-w-[700px]">
				<span>
					+3 Software Developer.
				</span>
				<span class="text-yellow-200/90">
					Passionate Machine Learning Enthusiast.
				</span>
				<span class="opacity-75">
					From
				</span>
				<span class="multicolortext">
					Mexico
				</span>
				<span class="opacity-75">
					I've honed my expertise in crafting robust and efficient solutions.
				</span>
			</h2>

			<nav class="flex gap-4 mt-8 flex-wrap">
				<SocialPill href="https://www.linkedin.com/in/jaime-h">
					<LinkedInIcon class="size-4 md:size-6" />
					LinkedIn
				</SocialPill>
				<SocialPill href="https://github.com/JNatheriver">
					<GitHubIcon class="size-4 md:size-6"/>
					GitHub
				</SocialPill>
				<SocialPill href="mailto:jnatheriver@outlook.com">
					<MailIcon class="size-4 md:size-6"/>
					jnatheriver@outlook.com
				</SocialPill>
			</nav>
		</SectionContainer>
		<SectionContainer id="experience">
			<h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center"><BriefcaseIcon class="size-7"/>Experience</h2>
			<Experience />
		</SectionContainer>
	</main>


	<style>
		.multicolortext{
			background-image:linear-gradient(to right,#00843E,#FFFFFF,#CE1126);
			background-clip:text;
			-webkit-background-clip:text;
			-webkit-text-fill-color: transparent;
			font-weight: bold;
			
		}
	</style>
</Layout>